# Use containers instead of full VMs for faster startup.
sudo: false

language: python
python:
    - "3.5"
    - "3.6"
    - "pypy3"

install:
    - pip install --quiet tox
    - pip install --quiet Cython==0.23.1
    - pip install --quiet kivy==1.9.1

script:
    - if [[ $TRAVIS_PYTHON_VERSION == 2* || $TRAVIS_PYTHON_VERSION == 3* ]]; then tox -e $(echo $TRAVIS_PYTHON_VERSION | sed 's/\.//g;s/^/py/'); fi
    - if [[ $TRAVIS_PYTHON_VERSION == 'pypy'* ]]; then tox -e $TRAVIS_PYTHON_VERSION; fi
